html
  head
    title Mine first site made in Jade
    link( rel='stylesheet' href='../style.css')
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
  body
    - var classes = ["Username","Password","Email","Gender","CreditCard","Bio","Birth"];
    - var inFormat = ["",""," in the format youremail@gmail.com","","",""," 1900-12-27"]
    div.wrapper
      - for(var i = 0; i < classes.length;i++){
            input(type = "text" class = classes[i] placeholder = classes[i] + inFormat[i])
            div(class="error " + classes[i])
      - } 

      input(type="submit" value="Submit")

    script(type="text/javascript" src="all.min.js")
